<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="fixerRates">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->

    <title>Fixer Io Currencies Chart</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        html {
            overflow-y: scroll;
        }
        
        .jumbotron {
            padding-top: 0px !important;
        }
        
        .search-control {
            padding: 5px 10px;
        }
        
        #chart-form {
            margin-bottom: 50px;
        }
        
        .glyphicon.spinning {
            animation: spin 1s infinite linear;
            -webkit-animation: spin2 1s infinite linear;
        }
        
        @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }
            to {
                transform: scale(1) rotate(360deg);
            }
        }
        
        @-webkit-keyframes spin2 {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-messages.js"></script>
    <script src="/modules/moment/moment.js"></script>
    <script src="/modules/angular-moment/angular-moment.min.js"></script>
    <script src="/modules/chart.js/dist/Chart.min.js"></script>
    <script src="/modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script src="js/controllers/main.js"></script>
    <script src="js/services/rates.js"></script>
    <script src="js/services/symbols.js"></script>
    <script src="js/core.js"></script>

</head>

<body ng-controller="mainController">
    <div class="jumbotron text-center">
        <h1>{{ view.title }}</h1>
        <h2>{{ view.currentRate }}</h2>
    </div>


    <div class="wrapper" id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <form name="chart">
                        {{ myForm.myName.$error = myForm.myName.$error | json }}
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <label> From date: </label>
                                <p class="input-group row" alt-input-formats="[]">
                                    <input name="startDate" type="text" class="form-control" pattern="^\d{4}-\d{2}-\d{2}$" ng-minlength="10" uib-datepicker-popup="{{view.dateFormat}}" ng-model="view.startDate" is-open="view.calStartOpened" datepicker-options="view.calStartOptions" ng-required="true"
                                        close-text="Close" alt-input-formats="[]" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="calStartOpen()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <div ng-messages="chart.startDate.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">You did not enter a field</div>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <label for="endDate"> To date:</label>
                                <p class="input-group row" alt-input-formats="[]">
                                    <input name="endDate" type="text" pattern="^\d{4}-\d{2}-\d{2}$" class="form-control" ng-minlength="10" uib-datepicker-popup="{{view.dateFormat}}" ng-model="view.endDate" is-open="view.calEndOpened" datepicker-options="view.calEndOptions" ng-required="true"
                                        close-text="Close" alt-input-formats="[]" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="calEndOpen()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <span ng-messages="chart.endDate.$error" style="color:maroon" ng-show="chart.endDate.$dirty" role="alert">
                                        <i ng-message="required">{{ view.errorRequiredMsg }}</i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <div class="btn-group" uib-dropdown>
                                    <button id="base-dropdown" type="button" class="btn btn-success btn-lg" uib-dropdown-toggle ng-disabled="disabled">
                                        {{ view.base }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pre-scrollable" role="menu" ng-model="view.base" uib-dropdown-menu aria-labelledby="base-dropdown">
                                        <li role="presentation">
                                            <div class="input-group input-group-sm search-control">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Code" ng-model="queryBase" ng-click="$event.stopPropagation();"></input>
                                            </div>
                                        </li>
                                        <li role="presentation" ng-repeat="option in view.symbols | filter:queryBase" ng-class="{active: view.base == option.code, disabled: view.symbol == option.code}">
                                            <a href ng-click="view.base = option.code">{{ option.code }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary btn-lg" ng-click="swapSymbols()">
                                    <span class="glyphicon glyphicon-refresh"></span> 
                                    {{ view.swapBtnText }}
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn-group" uib-dropdown>
                                    <button id="symbol-dropdown" type="button" class="btn btn-success btn-lg" uib-dropdown-toggle ng-disabled="disabled">
                                        {{ view.symbol }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pre-scrollable" ng-model="view.symbol" role="menu" uib-dropdown-menu aria-labelledby="symbol-dropdown">
                                        <li role="presentation">
                                            <div class="input-group input-group-sm search-control">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Code" ng-model="querySymbol" ng-click="$event.stopPropagation();"></input>
                                            </div>
                                        </li>
                                        <li role="presentation" ng-repeat="option in view.symbols | filter:querySymbol" ng-class="{active: view.symbol == option.code, disabled: view.base == option.code}">
                                            <a href ng-click="view.symbol = option.code">{{ option.code }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="view.drawChartBtnDisable" ng-click="drawChart()">
                                    <span ng-show="view.drawChartBtnText == 'Drawing'">
                                        <i class="glyphicon glyphicon-refresh spinning"></i>
                                    </span>
                                    {{ view.drawChartBtnText }}
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-sm-8 text-left">
                    <div class="alert alert-warning" ng-show="view.errorMsg">
                        {{ view.errorMsg }}
                    </div>
                    <p class="text-center" ng-show="view.loading">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </p>
                    <canvas class="chart chart-line" chart-data="view.chart" chart-series="view.series" chart-labels="view.labels"></canvas>
                </div>
            </div>
        </div>

        <div class="text-center text-muted">
            <p>A test by Jevgeni Shupilov.</p>
        </div>

    </div>

</body>

</html>